@font-face {
    font-family: "HANNA";
    font-style: normal;
    font-weight: 100;
    src: url("./AnyConv.com__BMHANNAProOTF.woff") format("woff");
}

body {
    font-family: "HANNA";
    background-color: #beefff;
    /* background-color: lightgreen; */
    /* background-color: #6eec68; */
    /* background-color: #66d843; */
}

/* 절대 바꿔주지 말 것 */