@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@font-face {
    font-family: 'Do Hyeon', sans-serif;
    font-style: normal;
    font-weight: 100;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    /*FF7A85*/
    background-color: #FF607F;
    /* background-color: lightgreen; */
    /* background-color: #6eec68; */
    /* background-color: #66d843; */
    min-width: 768px;
    /* 최소 화면 너비 설정 */
}

/* 절대 바꿔주지 말 것 */